* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
.testimonials {
  text-align: center;
   background-color:#e7dde4;
   height: 100vh;
}
.testimonials h2 {
  font-size: 33px;
  color: #222;
  padding-top: 50px;
}
.testimonial-line {
  width: 75px;
  height: 3px;
  background: #f39c12;
  margin: 10px auto 40px;
}
.testimonial-people {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.person-testimonial {
  width: 280px;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  margin-top: 130px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}
.person-testimonial:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}
.person-testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -60px;
  border: 5px solid #fff;
}
.person-testimonial h3 {
  margin: 15px 0 10px;
  color: #222;
}
.person-testimonial p {
  font-size: 16px;
  color: #817e7e;
  line-height: 1.6;
}
